<div class="container">
  <div class="col-12 mx-auto ">
    <div>
      <div class="container mt-5">
        <h2 class="d-flex justify-content-center">Edit your work</h2>
      </div>
      <div>
        <%= simple_form_for [@service]  do |f| %>
          <p><%= f.input :style, collection: ['Old school','New school', 'blackwork', 'minimalis', 'Neo traditional', 'traditional', 'tribal', 'trash polka', 'other'] %></p>
          <p><%= f.input :price %></p>
          <p><%= f.input :description %></p>
          <p><%= f.input :stylepicture, as: :file %>
          <div class="form-actions d-flex justify-content-center">
            <%= f.button :submit, "Save", class: "btn btn-outline-dark"%>
            <%#= link_to "Back", services_path, class: "btn btn-outline-dark"%>
            <%= link_to "Back", service_path(@service), type: "button", class: "btn btn-outline-dark"  %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
