<div class="container signup-container ">
  <div class="row justify-content-center align-items-center">
    <div class = "col-12 col-lg-4">
      <h2>New Style</h2>
      <%= simple_form_for [@service]  do |f| %>
        <div class="form-inputs">
          <p><%= f.input :style, collection: ['Old school','New school', 'blackwork', 'minimalist', 'Neo traditional', 'traditional', 'tribal', 'trash polka', 'other'] %></p>
          <p><%= f.input :price %></p>
          <p><%= f.input :description %></p>
          <p><%= f.input :photo, as: :file %>
          <div class="form-actions d-flex justify-content-center">
            <%= f.button :submit, "Save", class: "btn btn-success mx-2 my-3"%>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-12 col-lg-4">
      <%= image_tag "https://i.pinimg.com/564x/a7/cf/75/a7cf757296e3b638a6ea1255b9458369.jpg"%>
    </div>
  </div>
</div>
