<div class="container">
  <div class = "row">
    <div class = "col-12 d-flex flex-wrap" >
        <!---service or portafolio divs--->
        <div class="card-services col-8">

            <% if @service.photo.attached? %>
              <%= cl_image_tag @service.photo.key, class: "img-ser" %>
            <% else %>
              <%= image_tag "unknow.png", class: "img-ser" %>
            <% end %>
            <div class="m-2">
             <h5> Style: <%= @service.style %></h5>
              <p> Descripción: <%= @service.description %> <p>
            </div>
              <div class="m-2">
                <%= link_to "Back", services_path, class: "btn btn-success"%>
                  <a class="btn btn-success" href="#coment"> Leave a comment </a>
              </div>
              <div class="like-container d-flex" data-action="click->likes#ranked" data-controller="likes">
                <i class="fa-regular fa-thumbs-up" data-likes-target="likeicon" ></i>
                <p data-likes-target="numlikes" >1</p>
              </div>

        </div>
        <!--start artist info-->
        <div class="col-4">
           <div class="profile-card-2">
            <% if @service.user.photo.attached? %>
              <%= cl_image_tag @service.user.photo.key, class: "img img-responsive", height: "100%", width: "100%" %>
            <% else %>
              <%= image_tag "https://i.pinimg.com/564x/51/54/dc/5154dc01cfdb8d29cbe6196c6787d8af.jpg", class: "img img-responsive" %>
            <% end %>
            <div class="profile-name"><%= @service.user.nickname  %></div>
          </div>
        </div>
        <!--end artist info--->
        <!---reviews divs-->
        <div class="col-8" style="background-color:grey;">
          <h3 class="my-3" style="text-align:center;" >Comments</h3>
            <% @service.reviews.each do |review| %>
              <% review.rating.times do%><i class="fa-solid fa-skull"></i><% end %>
              <br>
              <p> <%= review.content %> </p>
              <br>
            <% end %>
        </div>
        <!---reviews divs-->

        <!---reviews divs prubas-->
        <div class="col-8" style="background-color:grey;">
          <h3 class="my-3" style="text-align:center;" >Comments</h3>
            <% @service.reviews.each do |review| %>
              <% review.rating.times do%><i class="fa-solid fa-skull"></i><% end %>
              <br>
              <p> <%= review.content %> </p>
              <br>
            <% end %>
        </div>
        <!---reviews divs prubas-->



    <!--leave coments-->
      <div class = "col-8" style="background-color:#197296;">
        <div class="col-6 mx-auto" id="coment">
          <h3 style="text-align:center;">Leave a comment:</h3>
          <%= simple_form_for [@service, @service.reviews.build] do |f|%>
            <%= f.input :rating, as: :select, collection: ['1','2','3','4','5'], label: "Give it a rank!" %>
            <%= f.text_area :content, class: "form-control my-2" %>
            <div class="d-flex mx-auto m-2" >
              <%= f.submit "Send comment", class: "btn btn-success mx-auto"  %>
            </div>
          <% end %>
      </div>
   <!--leave coments-->


    </div> <!---col-12-->
  </div> <!---row-->
</div>  <!---container-->

