<div class="container">
  <div class = "row">
    <div class = "col-12 d-flex flex-wrap" >
        <!---service or portafolio divs--->
        <div class="card-services col-8">

            <% if @service.photo.attached? %>
              <%= cl_image_tag @service.photo.key, class: "img-ser" %>
            <% else %>
              <%= image_tag "unknow.png", class: "img-ser" %>
            <% end %>
            <div class="m-2">
             <h5> Style: <%= @service.style %></h5>
              <p> Descripción: <%= @service.description %> <p>
            </div>
              <div class="m-2">
                <%= link_to "Back", services_path, class: "btn btn-success"%>
                  <a class="btn btn-success" href="#coment"> Leave a comment </a>
              </div>
              <div class="like-container d-flex" data-action="click->likes#ranked" data-controller="likes">
                <i class="fa-regular fa-thumbs-up" data-likes-target="likeicon" ></i>
                <p data-likes-target="numlikes" >1</p>
              </div>

        </div>
        <!--start artist info-->
        <div class="col-4">
           <div class="profile-card-2">
            <% if @service.user.photo.attached? %>
              <%= cl_image_tag @service.user.photo.key, class: "img img-responsive", height: "100%", width: "100%" %>
            <% else %>
              <%= image_tag "https://i.pinimg.com/564x/51/54/dc/5154dc01cfdb8d29cbe6196c6787d8af.jpg", class: "img img-responsive" %>
            <% end %>
            <div class="profile-name"><%= @service.user.nickname  %></div>
          </div>
        </div>
        <!--end artist info--->

        <!---reviews divs prubas-->
        <div class="col-8 my-2 comments-style" data-controller="visibility" id="options">
          <h3 class="my-3" style="text-align:center;" data-action="visibility#showTargets">Comments
          <button data-action="visibility#showTargets" class="btn btn-success btn-sm" id="btn-show" ><i class="fa-solid fa-square-caret-down"></i></button></h3>
            <% @service.reviews.each do |review| %>
                    <div class="card-comments p-3 m-1" data-visibility-target="hideable" hidden>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="user d-flex flex-row align-items-center">
                          <img src="https://i.pinimg.com/564x/51/54/dc/5154dc01cfdb8d29cbe6196c6787d8af.jpg" width="50" class="user-img rounded-circle mr-2">
                          <span class="user-data"><small class="font-weight-bold text-primary "><strong>  <%= User.all.sample.nickname %></strong></small> <small class="font-weight-bold"><%= review.content %></small></span>
                        </div>
                        <small><%= review.created_at.time.to_formatted_s(:short) %></small>
                      </div>
                      <div class="action d-flex justify-content-between mt-2 align-items-center">
                        <div class="reply px-4">
                        </div>
                        <div class="icons align-items-center">
                            <% review.rating.times do%><i class="fa-solid fa-skull text-warning"></i><% end %>
                        </div>
                      </div>
                    </div>
            <% end %>
        </div>
        <!---reviews divs prubas-->

    <!--leave coments-->
      <div class = "col-8 comments-style my-2" data-controller="visibility" id="options">
          <h3 style="text-align:center;">Leave a comment <button data-action="visibility#showTargets" class="btn btn-success    btn-sm"  id="btn-show" onclick="scrollWin()"><i class="fa-solid fa-square-caret-down"></i></button></h3>
        <div class="col-6 mx-auto" id="coment" data-visibility-target="hideable" hidden >
          <%= simple_form_for [@service, @service.reviews.build] do |f|%>
            <%= f.input :rating, as: :select, collection: ['1','2','3','4','5'], label: "Give it a rank!" %>
            <%= f.text_area :content, class: "form-control my-2" %>
            <div class="d-flex mx-auto m-2" >
              <%= f.submit "Send comment", class: "btn btn-success mx-auto"  %>
            </div>
          <% end %>
        </div>
      </div>
   <!--leave coments-->


    </div> <!---col-12-->
  </div> <!---row-->
</div>  <!---container-->
