<div class="container signup-container">
  <div class="row justify-content-center align-items-center">
    <div class="col-12 col-lg-4">
      <h2>Sign Up</h2>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :nickname,
                required: true,
                autofocus: true %>
          <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
                <%= f.input :user_type, as: :select, collection: ['yes','no'], label: "Are you a tattoo artist?"
                 %>
          <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Sign up", class: "btn btn-success" %>
         </div>
      <% end %>

      <p class="small-p">Do you have an account?<strong class="bold-link"><%= render "devise/shared/links" %></strong></p>
    </div>

    <div class="col-12 col-lg-4">
      <%= image_tag "https://i.pinimg.com/564x/b7/25/b1/b725b1009c7fdea0b4bdcc3386884ae5.jpg"%>
    </div>
  </div>
</div>
