<div class="container chatroom">
<div class="container chatroom"
  data-controller="chatroom-subscription"
  data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
>
  <h2>Welcome to <%= @chatroom.name %></h2>
  <% if !@artist.nil? %>
    <h3> chat with: <%= @artist.nickname %></h3>
  <% end %>


  <div class="messages" data-chatroom-subscription-target="messages">
    <% @chatroom.messages.each do |message| %>
      <%= render "messages/message", message: message, artist: @artist %>
    <% end %>
  </div>
  <%= simple_form_for [current_user, @chatroom, @message],
    html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" },
    class: "d-flex" } do |f| %>
    <%= f.input :content,
      label: false,
      placeholder: "Message ##{@chatroom.name}",
      wrapper_html: {class: "flex-grow-1"} %>
      <% if !@artist.nil? %>
      <p><%= f.input :artist_info, :as => :hidden, :input_html => { :value =>  @artist.id } %></p>
      <% end %>
    <%= f.button :submit, "Send", class: "btn btn-primary mb-3" %>
  <% end %>
</div>
